* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
}